<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lhy.dao.TeamPeopleMapper">
    <insert id="insertTeamPeople" parameterType="com.lhy.model.TeamPeople">
        insert into teampeople (teamId, age,beauty,expression,gender,glasses,imgPath) values(#{teamId},#{age},#{beauty},#{expression},#{gender},#{glasses},#{imgPath})
    </insert>
    <select id="selectTeamPeople" resultType="com.lhy.model.TeamPeople">
        select * from teampeople where teamId = #{teamId} order by beauty desc
    </select>
</mapper>
